doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='//code.jquery.com/jquery.js')
    script(src='/js/bootstrap.min.js')
    script.
      $(document).ready(function() {
        $('.tt').tooltip();
      });