doctype html
html
  head
    title #{segment} app reports
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav.navbar.navbar-default(role = 'navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle( data-toggle='collapse' data-target='#navigation' )
            span.sr-only toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand App Reporting
        #navigation.collapse.navbar-collapse
          ul.nav.navbar-nav
          form.navbar-form.navbar-right(action='/add', method='post')
            .form-group
              input.form-control(type='text', name='storeUrl', placeholder='store url')
            button.btn.btn-default(type='submit') add app
    block content
    script(src='//code.jquery.com/jquery.js')
    script(src='/js/bootstrap.min.js')
    script.
      $(document).ready(function() {
        $('.tt').tooltip();
      });
