extends layout

block content
  h1 update app #{name}
  form#update(action='', method='post')
    .form-group
      label(for='name') name
      input.form-control#name(type='text', name='name', value=name)
    .form-group
      label(for='baseline') baseline
      input.form-control#baseline(type='text', name='baseline', value=baseline || 0)
    button.btn.btn-default(type='submit') save app
