body {
	padding: 6px 18px 36px 18px;
}

.logo {
  width: 50px;
  padding: 0px;
}

div.tooltip {
	position: absolute;
	top: 0px;
	left: 0px;
}

.tooltip-inner {
	white-space:pre-wrap;
	text-align: left;
}

#update {
  max-width: 240px;
}

.badge {
  font-size: 0.9em;
}

#sync-started {
  display: none;
}

#sync-completed {
  display: none;
}
