doctype html
html
  head
    title #{segment} app reports
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav.navbar.navbar-default(role = 'navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle( data-toggle='collapse' data-target='#navigation' )
            span.sr-only toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') App Reporting
        #navigation.collapse.navbar-collapse
          ul.nav.navbar-nav
          form.navbar-form.navbar-right(action='/add', method='post')
            .form-group
              input.form-control(type='text', name='storeUrl', placeholder='store url')
            button.btn.btn-default(type='submit') add app
    #sync-started.alert.alert-warning(role='alert')
      .message <strong>Sync Started</strong> Checking the store for updated ratings
      .progress
        .progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%')

    #sync-completed.alert.alert-success(role='alert')
      #hide-completed.button.close(type='button')
        span(aria-hidden='true') &times;
        span.sr-only close
      span <strong>Sync Completed </strong><span id='completed-message'></span>

    block content
    script(src='//code.jquery.com/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script.
      $(document).ready(function() {
        var socket = io.connect();
        socket.on('sync-started', function() {
          $('#sync-started').show();
          $('#sync-progress').show();
          $('#sync-completed').hide();
        });

        socket.on('sync-progress', function(percent) {
          $('#sync-started .progress-bar').width(percent + '%')
        });


        socket.on('sync-completed', function(newRatings) {
          $('#sync-started').hide();
          if(newRatings > 0) {
            $('#completed-message').text('found ' + newRatings + ' new ratings!');
          } else {
            $('#completed-message').text('no new ratings found');
          }
          $('#sync-started .progress-bar').width('0%')
          $('#sync-completed').show();
        });

        $('#hide-completed').click(function() {
          $('#sync-completed').hide();
        });
      });
