extends layout

block content
  .page-header
    h1 Not Authorized
    h2 You must be signed into your Microsoft Corporate account to view these reports
    br
    a.btn.btn-primary.btn-lg(href='/auth') Sign In Now
